html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.search-bar{
    width: 60vw;
}

.navbar {
    background-color: #1fa813;
    color: white;
}

.menu-button{
    color: white;
}

.menu-button:hover{
    color: white;
}

.sign-in-button{
    background-color: white;
}

.navbar input{
    background-color: #22ba14;
    color: white;
    border: none;
}

.navbar input::placeholder{
    color: white;
}

.navbar input::ms-input-placeholder{
    color: white;
}

.navbar input:hover{
    background-color: white;
    color: black;
    transition: color 0.2s;
}

.navbar input:hover::placeholder {
    color: #6c757d;
    transition: color 0.2s;
}

.navbar input:focus::placeholder{
    color: #6c757d;
}

.navbar input:focus{
    color: black;
}

.text-color-primary{
    color: #1fa813;
}

.banner-shade {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.bg-color-primary {
    background-color: #1fa813;
}

.w-90vw{
    width: 90vw;
}

.w-95vw{
    width: 95vw;
}

.w-20{
    width: 20%;
}

.accordion-button:focus{
    border-color: #daf2e1;
    box-shadow: 0 0 0 0.25rem #daf2e1;
}

.accordion-button:not(.collapsed){
    color: #1fa813;
    background-color: #c0f0cd;
}

.accordion-header .accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231fa813'><path%20fill-rule='evenodd'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/></svg>");
}
