{% extends "base.html" %}
{% load static %}
{% block head_title %} Recipes {% endblock head_title %}

{% block head_content %}
<link rel="stylesheet" href="{% static 'hooeats_app/recipes.css' %}" />
<script src="{% static 'hooeats_app/js/recipes.js' %}"></script>
{% endblock %}

{% block content %}

<div id="data">
    {% csrf_token %}
</div>

<div class="w-95vw">

    <div class="d-flex justify-content-left">
        <div class="recipes mt-3 flex flex-col">
            <h2>Recipes</h2>
        </div>
    </div>


    {% for recipe_type in recipe_types %}
        <div class="d-flex justify-content-left">
            <div class="recipes mt-3 flex flex-col">
                <h2>{{ recipe_type }}</h2>
            </div>
        </div>

        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg" class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 1</h5>
                            <button class="d-block btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#nutrition-details" onclick="addNutritionalInfo('{{ menu_item.title }}', '{{ dining_hall_title }}', '{{ menu_item.section }}')">
                                <i class="bi bi-box-arrow-up-right"></i>
                                View More
                            </button>
                            {% if "user" in request.COOKIES and menu_item.is_bookmarked %}
                                <button class="d-none btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-block btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% elif "user" in request.COOKIES %}
                                <button class="btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-none btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg" class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <button class="d-block btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#nutrition-details" onclick="addNutritionalInfo('{{ menu_item.title }}', '{{ dining_hall_title }}', '{{ menu_item.section }}')">
                                <i class="bi bi-box-arrow-up-right"></i>
                                View More
                            </button>
                            {% if "user" in request.COOKIES and menu_item.is_bookmarked %}
                                <button class="d-none btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-block btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% elif "user" in request.COOKIES %}
                                <button class="btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-none btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg" class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 3</h5>
                            <button class="d-block btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#nutrition-details" onclick="addNutritionalInfo('{{ menu_item.title }}', '{{ dining_hall_title }}', '{{ menu_item.section }}')">
                                <i class="bi bi-box-arrow-up-right"></i>
                                View More
                            </button>
                            {% if "user" in request.COOKIES and menu_item.is_bookmarked %}
                                <button class="d-none btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-block btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% elif "user" in request.COOKIES %}
                                <button class="btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-none btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg" class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 4</h5>
                            <button class="d-block btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#nutrition-details" onclick="addNutritionalInfo('{{ menu_item.title }}', '{{ dining_hall_title }}', '{{ menu_item.section }}')">
                                <i class="bi bi-box-arrow-up-right"></i>
                                View More
                            </button>
                            {% if "user" in request.COOKIES and menu_item.is_bookmarked %}
                                <button class="d-none btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-block btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% elif "user" in request.COOKIES %}
                                <button class="btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-none btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg" class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 5</h5>
                            <button class="d-block btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#nutrition-details" onclick="addNutritionalInfo('{{ menu_item.title }}', '{{ dining_hall_title }}', '{{ menu_item.section }}')">
                                <i class="bi bi-box-arrow-up-right"></i>
                                View More
                            </button>
                            {% if "user" in request.COOKIES and menu_item.is_bookmarked %}
                                <button class="d-none btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-block btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% elif "user" in request.COOKIES %}
                                <button class="btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-none btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg" class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 6</h5>
                            <button class="d-block btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#nutrition-details" onclick="addNutritionalInfo('{{ menu_item.title }}', '{{ dining_hall_title }}', '{{ menu_item.section }}')">
                                <i class="bi bi-box-arrow-up-right"></i>
                                View More
                            </button>
                            {% if "user" in request.COOKIES and menu_item.is_bookmarked %}
                                <button class="d-none btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-block btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% elif "user" in request.COOKIES %}
                                <button class="btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-none btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg" class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 7</h5>
                            <button class="d-block btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#nutrition-details" onclick="addNutritionalInfo('{{ menu_item.title }}', '{{ dining_hall_title }}', '{{ menu_item.section }}')">
                                <i class="bi bi-box-arrow-up-right"></i>
                                View More
                            </button>
                            {% if "user" in request.COOKIES and menu_item.is_bookmarked %}
                                <button class="d-none btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-block btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% elif "user" in request.COOKIES %}
                                <button class="btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-none btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg" class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 8</h5>
                            <button class="d-block btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#nutrition-details" onclick="addNutritionalInfo('{{ menu_item.title }}', '{{ dining_hall_title }}', '{{ menu_item.section }}')">
                                <i class="bi bi-box-arrow-up-right"></i>
                                View More
                            </button>
                            {% if "user" in request.COOKIES and menu_item.is_bookmarked %}
                                <button class="d-none btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-block btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% elif "user" in request.COOKIES %}
                                <button class="btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-none btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper"><img src="https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_1280.jpg" class="d-block w-100" alt="..."> </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 9</h5>
                            <button class="d-block btn btn-outline-success me-3" type="button" data-bs-toggle="modal" data-bs-target="#nutrition-details" onclick="addNutritionalInfo('{{ menu_item.title }}', '{{ dining_hall_title }}', '{{ menu_item.section }}')">
                                <i class="bi bi-box-arrow-up-right"></i>
                                View More
                            </button>
                            {% if "user" in request.COOKIES and menu_item.is_bookmarked %}
                                <button class="d-none btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-block btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% elif "user" in request.COOKIES %}
                                <button class="btn btn-outline-success bookmark-buttons" type="button" id="add-bookmark-{{ menu_item.meal_id }}" onclick="addBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark"></i>
                                    Bookmark
                                </button>
                                <button class="d-none btn btn-outline-danger bookmark-buttons" type="button" id="remove-bookmark-{{ menu_item.meal_id }}" onclick="removeBookmark({{menu_item.meal_id}}, '{{ menu_item.title }}');">
                                    <i class="bi bi-bookmark-x"></i>
                                    Remove
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endfor %}
</div>

{% endblock %}