{% extends "base.html" %}
{% load static %}
{% block head_title %} Sign Up {% endblock %}

{% block head_content %}
<script src="{% static 'hooeats_app/js/signup.js' %}"></script>
{% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center h-100">
    <h2 class="text-success">Sign In</h2>
    <p class="display-inline">Don't have an account yet? <a class="text-success" href="{% url 'signup' %}">Sign Up</a></p>
    <form class="w-50" id="signup-form" method="POST" action="{% url 'handle_signin' %}">
        {% csrf_token %}
        <label for="username" class="form-label">Username<span class="text-danger">*</span></label>
        <input type="text" name="username" class="form-control mb-3" placeholder="Username" required />
        
        <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" required />
        
        <button type="submit" class="btn btn-success">Sign In</button>
    </form>
</div>

{% endblock %}