{% load bootstrap5 %}
{% load static %}
{% load parse_cookie %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'hooeats_app/base.css' %}" />
    {% block head_content %}
    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
        <div class="logo-menu d-flex flex-row ms-3">
            <button type="button" class="menu-button btn border-end border-2" data-bs-toggle="offcanvas" href="#nav-menu">
                <i class="bi bi-list fs-4"></i>
            </button>
            <a class="text-decoration-none text-white" href="{%url 'index'%}"><h1 class="fs-3 mt-2 ms-2">Hoo Eats</h1></a>
        </div>
        <form class="d-flex flex-row">
            <input type="text" name="search" class="form-control search-bar" placeholder="Search for recipes or dining hall meals" />
            <button type="submit" class="ms-2 btn btn-success">
                <i class="bi bi-search"></i>
            </button>
        </form>
        {% if "user" in request.COOKIES %}
            <button class="btn d-flex flex-row me-3 align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="me-2" src="{% get_cookie_value request.COOKIES.user "profile_img" %}" width="40px" height="40px" />
                <p class="text-white mb-0">{% get_cookie_value request.COOKIES.user "username" %}</p>
            </button>
            <ul class="dropdown-menu" style="right: 0; left: auto">
                <li>
                    <a class="dropdown-item" href="{% url 'signout' %}">
                        <i class="bi bi-box-arrow-in-left me-2"></i>
                        Sign Out
                    </a>
                </li>
            </ul>
        {% else %}
        <a href="{%url 'signin'%}">
            <button type="button" class="sign-in-button btn btn-outline-success me-3">
                Sign in
            </button>
        </a>
        {% endif %}
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="nav-menu">
        <div class="offcanvas-header border-bottom bg-color-primary">
            <h2 class="text-white">Hoo Eats</h2>
            <button type="button" class="btn text-white" data-bs-dismiss="offcanvas">
                <i class="bi bi-x-lg fs-4"></i>
            </button>
        </div>
        <div class="offcanvas-body p-0">
            <div class="list-group w-100 list-group-flush mt-2">
                <a href="{% url 'dining_hall' 'Observatory Hill'%}" class="list-group-item list-group-item-action">
                    <i class="bi bi-cup-straw"></i>
                    Observatory Hill
                </a>
                <a href="{% url 'dining_hall' 'Fresh Food Company'%}" class="list-group-item list-group-item-action">
                    <i class="bi bi-cup-straw"></i>
                    Fresh Food Company
                </a>
                <a href="{% url 'dining_hall' 'Runk'%}" class="list-group-item list-group-item-action">
                    <i class="bi bi-cup-straw"></i>
                    Runk
                </a>
                <a href="{% url 'recipes' %}" class="list-group-item list-group-item-action">
                    <i class="bi bi-journals"></i>
                    Recipes
                </a>
                {% if "user" not in request.COOKIES %}
                   <a href="{% url 'signin' %}" class="list-group-item list-group-item-action">
                     <i class="bi bi-box-arrow-in-right me-2"></i>
                     Sign In
                   </a>
                   <a href="{% url 'signup' %}" class="list-group-item list-group-item-action">
                    <i class="bi bi-clipboard-check me-2"></i>
                    Sign Up
                   </a>
                {% endif %}
                {% if "user" in request.COOKIES %}
                    <a href="{% url 'signout' %}" class="list-group-item list-group-item-action">
                        <i class="bi bi-box-arrow-in-left me-2"></i>
                        Sign Out
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% block content %} {% endblock %}

    <div id="toast-container" class="position-fixed bottom-0 end-0 p-3 z-50">
        <div class="toast" id="success-toast" role="alert" aria-live="assertive" aria-atomic="true">
        </div>
    </div>

</body>
</html>